/*WEBSITE*/

.static-header{
  float: right;
  width: 40%;
  margin-right: 0%;
  padding-top: 10%;
  color: black;
}

.contact-link {
  color: black;
}

.contact-link:hover {
  color: rgb(93,204, 175);
}

.contact-link:visited {
  color: rgb(93,204, 175);
}

.dropdown-button {
  padding: 10px 16px;
  /*font-size: 18px;*/
  /*line-height: 1.3333333;*/
  /*border-radius: 6px;*/
  height: 40px;
}

.background-image {
  /*background: url(http://i.imgur.com/bLswt65.jpg) no-repeat center center;*/
  background: url(http://i.imgur.com/mDl3WVV.jpg) no-repeat center center;
  background-size: cover;
}

.match-name {
  text-decoration: none;
  color: white;
}

.match-name:visited {
  text-decoration: none;
  color: white;
}

.match-name:hover {
  text-decoration: none;
  color: black;
}
